body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "head head head"
        "l main r"
        "foot foot foot";
    gap: 1rem;
}

.site-header { grid-area: head; padding: 1rem; background: #bbbbbb; border-radius: 1.5rem; 
    display: flex; justify-content: space-between; align-items: center;
}
.site-header ul { display: flex; list-style: none; gap: 1.2rem; }
.site-header a { text-decoration: none; }
.site-main { grid-area: main; padding: 1rem; background: #dddddd; border-radius: 1.5rem; 
    display: grid; gap: 1rem; 
}
.site-footer { grid-area: foot; padding: 1rem; background: #bbbbbb; border-radius: 1.5rem; 
    text-align: center;
}

.site-left-sidebar { grid-area: l; background: #000000; color: white; border-radius: 1.5rem; }
.site-right-sidebar { grid-area: r; background: #000000; color: white; border-radius: 1.5rem; }

.steam-frame-img { width: 100%; display: block; border-radius: 0.5rem; }
.text-article { background: #f8f8f8; border-radius: 0.5rem; padding: 1rem; box-sizing: border-box; }